<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>
    <main class="rborder">
        <div class="form full">
            <h1 class="raid">Manage Raid</h1>
            
            <div class="container full">
                <div class="rborder raid top-form half">
                    <h2>Signed Up </h2>
                    <button><a href="/raids/addSignedUpToStaging/<%=raid._id%>">+ All</a></button>
                    <ul>
                        <% raid.signedUp.forEach((char, index) => { %>
                            <form action="/raids/addToStaging/<%= raid._id %>" method="POST">
                                <input type="hidden" name="character" value="<%= char._id %>">
                                <li class="<%= char.class %>"><%= char.name %>(<%= index + 1%>)<button type="submit">+</button></li>
                            </form>
                        <% }) %>
                    </ul>
                    <h3>Bench</h3>
                    <ul>
                        <% raid.bench.forEach((char, index) => { %>
                            <form action="/raids/addToStaging/<%= raid._id %>" method="POST">
                                <input type="hidden" name="character" value="<%= char._id %>">
                                <li class="<%= char.class %>"><%= char.name %>(<%= index + 1%>) <button type="submit">+</button></li>
                            </form>
                        <% }) %>
                    </ul>
                    <h3>Tentative</h3>
                    <ul>
                        <% raid.tentative.forEach((char, index) => { %>
                            <form action="/raids/addToStaging/<%= raid._id %>" method="POST">
                                <input type="hidden" name="character" value="<%= char._id %>">
                                <li class="<%= char.class %>"><%= char.name %>(<%= index + 1%>) <button type="submit">+</button></li>
                            </form>
                        <% }) %>
                    </ul>
                </div>
                <div class="rborder raid top-form half">
                    <h2>Staging Area</h2>
                    <div class="inline">
                        <button><a href="/raids/clearStaging/<%= raid._id %>">Clear</a></button>
                        <button><a href="/raids/markStagingOnTime/<%= raid._id %>">Mark On Time</a></button>
                        <button><a href="/raids/markStagingCompleted/<%= raid._id %>">Mark Finished</a></button>
                    </div>
                    <ul>
                        <% raid.staging.forEach((char) => { %>
                            <form action="/raids/removeFromStaging/<%= raid._id %>" method="POST">
                                <input type="hidden" name="character" value="<%= char._id %>">
                                <li class="<%= char.class %>"><%= char.name %> <button type="submit">-</button></li>
                            </form>
                        <% }) %>
                    </ul>
                </div>

                
            </div>  
            <div class="rborder raid container full">
                <div class="top-form">
                    <h1>Assign DKP</h1>
                    <form action="/dkp/newForm" class="top-form" method="POST">
                        <input type="hidden" value="<%= raid._id %>" name="raid">
                        <input type="hidden" value="<%= raid.guild._id %>" name="guild">
                        <input type="hidden" value="<%= user.main?._id %>" name="assignedBy">
                        <div class="container">
                            <label for="amount">Amount Awarded</label>
                            <input type="number" required name="amount" id="amount">
                            <br>
                            <label for="characters">Awarded To:</label>
                            <select name="characters" id="characters">
                                <option value="staging">Staging Area</option>
                                <option value="bench">Bench</option>
                                <option value="completed">Completed</option>
                                <option value="onTime">On Time</option>
                                <option value="signedUp">Signed Up</option>
                                <option value="tentative">Tentative</option>
                            </select> 
                        </div>
                        <br>
                        <div class="container">
                            <label for="description">Description</label>
                            <textarea name="description" id="description" cols="80" rows="5" minlength="1"></textarea>
                            <br>
                        </div>
                        
                        
                        
                        <br>
                        <button type="submit">Award DKP</button>
                    </form>
                </div>
            </div>

            <div class="form rborder raid">
                <h2><a href="/raids/detail/<%= raid._id %>"></a>Raid Info</h2>
                <ul>
                    <li>Location: <%= raid.location %></li>
                    <li>Start Time: <%= raid.date %></li>
                    <li>Loot Structure: <%= raid.lootStructure %></li>
                    <li>Raid Slots: <%= raid.raidSize %></li>
                </ul>
            </div>
        </div>
    </main>
</body>
</html>