<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Document</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main class="rborder full">
        <div class="form full">
            <div class="form raid rborder full">
                <h2>Info</h2>
                <ul>
                    <li>Location: <%= raid.location %></li>
                    <li>Start Time: <%= raid.date %></li>
                    <% if (raid.lootStructure.length > 1) { %>
                        <li>Loot Structure: <%= raid.lootStructure %></li>
                    <% } %>
                    <li>Raid Slots available: <%= raid.raidSize - raid.signedUp.length %></li>
                </ul>
            </div>
            <div class="container full">
                <div class="form raid rborder half">
                    <h2>Signed Up</h2>
                    <ul class="container">
                        <% raid.signedUp.forEach((char, index) => { %>
                            <li class="<%= char.class %> roster"><%= char.name %> (<%= index + 1 %>)  </li>
                            
                        <% }) %>
                    </ul>
                    <h3>Bench</h3>
                    <ul>
                        <% raid.bench.forEach((char, index) => { %>
                            <li class="<%= char.class %> roster"><%= char.name %> (<%= index + 1 %>)</li>
                        <% }) %>
                    </ul>
                    <h3>Tentative</h3>
                    <ul>
                        <% raid.tentative.forEach((char, index) => { %>
                            <li class="<%= char.class %> roster"><%= char.name %> (<%= index + 1 %>)</li>
                        <% }) %>
                    </ul>
                </div>
            
                <div class="form raid rborder half">
                    <h2>Sign Up</h2>
                    <form action="/raids/addSignUp/<%= raid._id %>" method="POST" class="top-form full">
                        <div class="inline">
                            <label for="character">Character    </label>
                            <select name="character" id="character" required style="margin-left: 20px;">
                                <% user.characters.forEach((char) => { %>
                                    <option value="<%= char._id %>"><%= char.name %></option>
                                <% }) %>
                            </select>
                        </div>
                        
                        <br>
                            <div class="inline">
                                <label for="tentative">Tentative/Late</label>
                                <input type="checkbox" name="tentative" id="tentative">
                            </div>
                            <br>
                            <div class="inline">
                                <label for="bench">Bench</label>
                                <input type="checkbox" name="bench" id="bench">
                                <br>
                                
                            </div>
                        <br>
                        <button type="submit">Sign Up</button>
                        
                    </form>
                </div>
            </div>
            <% if (user.isAdmin.join('').includes(raid.guild._id)) { %>
                <div class="conatiner">
                    <button>
                        <a href="/raids/manageRaid/<%= raid._id %>">Manage Raid</a>
                    </button>
                </div>
            <% } %>
        </div>
    </main>
    
    
</body>
</html>