<!-- user, realm, guilds -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Document</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main class="top-form full guild">
        <h1>Guilds on <%= realm.name %></h1>
        <ul class="big-list">
            <% guilds?.forEach((guild) => { %>
                <li><a href="/guilds/<%= guild._id %>"><%= guild.name %></a></li>
            <% }) %>
        </ul>
        <h4>Can't Find Your Guild? Click <a href="/guilds/createGuild">HERE</a> to create a new one!</h4>
    </main>
</body>
</html>