<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Document</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="top-form full">
            <h1>Join Guilds on <%= user.main.realm.name %></h1>
            <ul>
                <% guilds.forEach((guild) => { %>
                    <li><a href="/guilds/<%= guild._id %>"><h1><%= guild.name %></h1></a></li>
                <% }) %>
            </ul>
            <p>Don't see your guild anywhere on the site? Sign your guild up <a href="/guilds/createGuild">here</a> to get started!</p>
        </div>
       
    </main>
    

    
</body>
</html>