<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Document</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="top-form full">
            <h1>Join Guilds</h1>
            <ul>
                <% guilds.forEach((guild) => { %>
                    <li class="form">
                        <a href="/guilds/<%= guild._id %>"><h3><%= guild.name %></h3></a>
                        <br>
                        <button><a href="/guilds/<%= guild._id %>/joinRequest">Join <%= guild.name %></a></button>
                    </li>
                    
                <% }) %>
            </ul>
            <br>
            <p>Don't see your guild anywhere on the site? Sign your guild up <a href="/guilds/createGuild">here</a> to get started!</p>
        </div>
       
    </main>
    

    
</body>
</html>