<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Document</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <h1>Register your guild here!</h1>
        
        <form action="/guilds/createGuild" method="POST" class="form">
            <div class="form">
                <label for="guildMaster">Select which of your characters is your guild's GM:</label>
                <select name="guildMaster" id="guildMaster" required>
                    <% for (let i = 0; i < user.characters.length; i++) { %>
                        <option value=<%= user.characters[i]._id %>><%= user.characters[i].name %></option>
                    <% } %>
                </select>
            </div>
            <br>
            <div class=inline>
                <div class="form">
                    <label for="name">Guild Name</label>
                    <input type="text" name="name" id="name">
                </div>
                <div class="form">
                    <label for="realm">Realm</label>
                    <select name="realm" id="realm">
                        <% for (let i = 0; i < realms.length; i++) { %>
                            <option value=<%= realms[i]._id %>><%= realms[i].name %></option>
                        <% } %>
                    </select>
                </div>
                
                
            </div>
            
            <br>
            <label for="description">Please provide a brief description of your guild here:</label>
            <br>
            <textarea name="description" id="description" cols="50" rows="30"></textarea>
            <br>
            <p>Note that by creating a guild, you will be assigned as the guild's GM by default.</p>
            <button type="submit">Create Guild</button>
        </form>
    </main>
    
</body>
</html>