<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Document</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
            
            <div class="form gborder full">
                <div class="container">
                    <h1><%= guild.name %></h1>
                </div>
                <div class="container">
                    <p><%= guild.description %></p>
                </div>
                <p>Want to join <%= guild.name %>? Send a join request <button><a href="/guilds/<%= guild._id %>/joinRequest">Join</a></button></p>
            </div>
        
            <% if (user.isAdmin.join('').includes(guild._id)) { %>
                <div class="form plborder full party-leader">
                    <h1>Admin Settings</h1>
                    <div class="container">
                        <h3><a href="/guilds/manageGuildRoster/<%= guild._id %>">Manage Guild Roster</a></h3>
                        
                        <h3><a href="/dkp/dkpForm/<%= guild._id %>">Manage DKP</a></h3>
                        <h3><a href="/raids/createRaid/<%= guild._id %>" >Create Raid</a></h3>
                    </div>
                    
                </div>
                
            <% } %>

        <div class="container full">
                <div class="top-form whisper wborder half">
                    <h1><a href="/dkp/standings/<%= guild._id %>">DKP Standings</a></h1>
                    <div class="container">
                        <div class="top-form">
                            <ol>
                                <% for (let i = 0; i < (dkpStandings.length || 10); i++) { %>
                                    <li class="<%= dkpStandings[i].class %>"><%= i + 1 %>. <%= dkpStandings[i].name %> (<%= Math.floor(dkpStandings[i].dkp) %>)</li>
                                <% } %>    
                            </ol>
                        </div>
                    <% if (dkpStandings.length > 10) { %>
                        <div class="top-form">
                            <ol>
                                <% for (let i = 10; i < (dkpStandings.length || 20); i++) { %>
                                    <li class="<%= dkpStandings[i].class %>"><%= i + 1 %>. <%= dkpStandings[i].name %> (<%= Math.floor(dkpStandings[i].dkp) %>)</li>
                                <% } %>    
                            </ol>
                        </div>
                    <% } %>
                         
                    </div>
                </div>
                
        
                <div class="top-form raid rborder half">
                    <h1>Raids</h1>
                    <% for (let i = guild.raids.length - 1; i > (-1 ||guild.raids.length -6); i--) { %>
                        <div class="top-form raid rborder">
                            <h3><a href="/raids/detail/<%=guild.raids[i]?._id%>"><%= guild.raids[i]?.location %></a></h3>
                            <p><%= guild.raids[i]?.date %></p>    
                        </div>
                    <% } %>
                </div>
        </div>
        
        
        
        <div class="container full">
            <div class="form full officer oborder">    
                <h1>Members</h2>
                <div class="container">
                    <div class="top-form officer half">
                        <h3>Leadership</h3>
                        <ul>
                            <li>Guild Master</li><li class="<%=guild.guildMaster.class%>"><a href="/characters/characterInfo/<%= guild.guildMaster._id %>"><%= guild.guildMaster.name %></a></li>
                            <br>
                            <li>Officers</li>
                            <% guild.officers.forEach((officer) => { %>
                                <li class="<%= officer.class %>"><a href="/characters/characterInfo/<%= officer._id %>"><%= officer.name %></a></li>
                            <% }) %>
                        </ul>
                    </div>
                    <div class="top-form guild half">
                        <h3>Members</h3>
                        <ul>
                            <% guild.members.forEach((member) => { %>
                                <li class="<%= member.class %>"><a href="/characters/characterInfo/<%= member._id %>"><%= member.name %></a></li>
                            <% }) %>
                        </ul>
                    </div> 
                </div>    
            </div>
        </div>
    </main>
    
    

</body>
</html>