<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Document</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
            
            <div class="form gborder">
                <div class="container">
                    <h1><%= guild.name %></h1>
                </div>
                <div class="container">
                    <p><%= guild.description %></p>
                </div>
            </div>
        <div class="container">
            <div class="form">
                <div class="form guild gborder">
                    <h1>Members</h2>
                        <div class="top-form officer">
                            <h2>Leadership</h2>
                            <ul>
                                <li>Guild Master</li><li class="<%=guild.guildMaster.class%>"><%= guild.guildMaster.name %></li>
                                <br>
                                <li>Officers</li>
                                <% guild.officers.forEach((officer) => { %>
                                    <li class="<%= officer.class %>"><%= officer.name %></li>
                                <% }) %>
                            </ul>
                        </div>
                        <div class="top-form guild">
                            <h2>Members</h2>
                            <ul>
                                <% guild.members.forEach((member) => { %>
                                    <li class="<%= member.class %>"><%= member.name %></li>
                                <% }) %>
                            </ul>
                        </div> 
                </div>
            </div>
                
        
                <div class="top-form raid rborder">
                    <h1>Raids</h1>
                    <% for (let i = guild.raids.length - 1; i > (-1 ||guild.raids.length -6); i--) { %>
                        <div class="top-form raid">
                            <h3><a href="/raids/detail/<%=guild.raids[i]?._id%>"><%= guild.raids[i]?.location %></a></h3>
                            <p><%= guild.raids[i]?.date %></p>    
                        </div>
                    <% } %>
                </div>
        </div>
        
        
        
        <div class="form">
            <p>Want to join <%= guild.name %>? Send a join request <a href="/guilds/<%= guild._id %>/joinRequest">here</a></p>
            <div class="container">    
                <% if (user.isAdmin.join('').includes(guild._id)) { %>
                    <button><a href="/guilds/manageGuildRoster/<%= guild._id %>">Manage Guild Roster</a></button>
                    <br>
                    <button><a href="/raids/createRaid/<%= guild._id %>">Create Raid</a></button>
                <% } %>
            </div>
        </div>
    </main>
    
    

</body>
</html>